body{
  background: linear-gradient(to bottom right, #A4B07E, #707C4F); 
  background-attachment: fixed;
}

.logo {
  width: 100%;
  height: 200px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

img {
  width: 180px;
  height: 180px;
}

h1{
  text-align: center;
  font-size: 32px;
  border-style: ridge;
  border-width: 6px;
  border-color: #424106;
  border-right: transparent;
  border-left: transparent;
  margin: 0 490px;
  padding: 3px 0 3px 0;
  font-family: 'PT Serif Caption', serif;
}

.wrapper{
  margin: 30px auto; 
  width: 60%; 
  height: 700px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.upper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a{
  text-decoration: none;
}

.home{
  text-decoration: none;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #a12323;
	cursor: pointer;
  padding-right: 50px;
}

h2{
  margin: 40px 40px;
  font-size: 26px;
}

input{
  width: 350px; 
  height: 30px;
}

input[type=radio] {
  width: 30px; 
  height: 15px;
}

select{
  height: 35px;
}

main{
  font-size: 20px;
  margin-left: 40px;
}

td{
  padding-bottom: 50px;
}

label{
  margin-right: 50px;
}

button{
  float: right; 
  margin-right: 40px;
  height: 30px;
  cursor: pointer;
  opacity: 0.80;
  background: #ddd;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 400;
  transition: 0.3s;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding-bottom: 30px;
}

button:hover {
  opacity: 1;
  background-color: #707C4F;
  color: white;
}

.error{
  color: red;
  font-style: italic;
}

