/*#A4B07E, #707C4F, #424106, #D4C88C, #C6A685, #6D4930 */
*{
  font-family: 'Libre Baskerville', serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin:0;
  padding:0;
}

/*Style for header*/
header {
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  padding-top: 10px;
  background-image: linear-gradient(to bottom left, #A4B07E, #707C4F);
}

.headerContainer{
  height: 110px;
  width: 100%;
}

.searchBar{
  float:left;
  margin-left: 140px;
  margin-top: 40px;
}

.searchBar input{
  padding: 5px;
	border: transparent;
	border-bottom: 1.5px solid #707C4F;
	background-color: transparent;
}

.searchBar ::placeholder{
	color: black;
}

.searchBar button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: none;
}

.searchBar button:hover {
  background: #ccc;
}

.user{
  height: 110px;
  float: right;
  position: absolute;
  right: 180px;
  top: 60px;
}

.user button{
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  background: none;
  }

.user button:hover {
  background: #ccc;
}

.user button .fa{
  color: #000;
}

.logo{
  width:100px;
  height:100px;
  margin-right: auto;
  margin-left: auto;
}

.logo img {
  width: 100px;
  height: 100px;
  display:inline-block;
}

h5{
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 28px;
  text-align: center;
  color: black;
}

.navigation {
  /*margin: 10px 150px 10px 150px;*/
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto; 
  width: 80%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .navigation li {
  width: 120px;
  margin: 0 50px;
  position: relative;
}

 .navigation li a {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #D4C88C, #D4C88C 50%, black 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
}
.navigation li a:before {
	 display: block;
	 content: '';
	 width: 0;
	 height: 3px;
	 bottom: 5px;
	 left: 0;
	 bottom: -3px;
	 z-index: 0;
	 position: absolute;
	 background-color: #D4C88C;
	 transition: all 0.3s ease-in-out;
}
.navigation li a:hover {
	 background-position: 0%;
}
 .navigation li a:hover:before {
	 width: 100%;
}


/*#D4C88C*/
/*content and pictures*/
.content{
  height:500px;
  width:100%;
  background-color: #F5F5DC;
}



/*footer*/
footer{
  height: 300px;
  width: 100%;
  background-image: linear-gradient(to bottom right, #A4B07E, #707C4F);
  padding: 10px;
}

.left-footer{
  float: left;
  width: 400px;
  margin-left: 50px;
  display:block;
  text-align: center;
}

h2{
  margin-top: 10px;
  margin-bottom: 15px;
}

footer input[type=text], footer button[type=submit] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #F5F5DC;
}

/* Add margins to the checkbox */
footer input[type=checkbox] {
  cursor: pointer;
  margin-top: 17px;
  margin-bottom: 15px;
}

/* Style the submit button */
footer button[type=submit] {
  cursor: pointer;
  width: 60%;
  border: none;
  opacity: 0.80;
  background: #F5F5DC;
  color: black;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 400;
  transition: 0.3s;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

footer button[type=submit]:hover {
  opacity: 1;
  background-color: #707C4F;
  color: white;
}

.right-footer{
  float: right;
  width: 600px;
}

div.information{
  text-align: left;
}

h4{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}
.information i{
  display: block;
  margin: 13px 0px;
  font-size: 17px;
}

div .information i .fa{
margin-right:30px;

}

.socialMediaLinks ul{
  position: absolute;
  padding: 0;
  margin: 40px 0px 0px 180px;
  transform: translate(-50%, -50%);
  display: flex;
}

.socialMediaLinks ul li{
  list-style: none;
  margin: 0 15px;
}

.socialMediaLinks ul li .fa{
  font-size: 30px;
  line-height: 60px;
  transition: .6s;
  color: #000;
}

.socialMediaLinks ul li .fa:hover{
  color: white;
}

.socialMediaLinks ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.socialMediaLinks ul li a:hover{
  transform: translate(0, -10px);
}

.socialMediaLinks ul li:nth-child(1) a:hover{
  background-color: #3B5999;
}
.socialMediaLinks ul li:nth-child(2) a:hover{
  background-color: #55ACEE;
}
.socialMediaLinks ul li:nth-child(3) a:hover{
  background-color: #E4405F;
}
.socialMediaLinks ul li:nth-child(4) a:hover{
  background-color: #25D366;
}

.copyright{
  float: right;
  margin-top: 85px;
}